@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  overflow: hidden;
  font-family: "Roboto";
  color: #FFFFFF;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#wallpaper {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  background-color: #000000;
  z-index: 0;
  cursor: none;
}

#logo {
  width: 100px;
  height: 100px;
  left: 30px;
  top: 30px;
  position: fixed;
  background-image: url("images/Logo.png");
  background-size: cover;
  border: 2px solid #FFFFFF;
  z-index: 3;
  -webkit-transition: transform 0.1s;
}
#logo:hover {
  margin-left: -4px;
  margin-top: -4px;
  border: 6px solid transparent;
  border-image: linear-gradient(to bottom right, #FF5F6D 0%, #FFC371 100%);
  border-image-slice: 1;
  -webkit-transform: scale(1.1);
}


#header {
  width: 30%;
  left: 50%;
  top: 0px;
  position: fixed;
  margin-left: -15%;
  background-color: #000000;
  padding-top: 20px;
  font-font: Roboto;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.7;
}


#loader {
  background-color: none;
}
.loaderOuter {
  width: 12px;
  height: 12px;
  right: 50px;
  top: 50px;
  position: fixed;
  background-color: #FFFFFF;
  border-radius: 6px;
  z-index: 1;
  animation: loaderOuterAnimation 0.7s infinite;
}
@keyframes loaderOuterAnimation {
  0% {opacity: 0;}
  40% {opacity: 1;}
  100% {transform: scale(3); opacity: 0; display: none;}
}
.loaderInner {
  width: 8px;
  height: 8px;
  right: 52px;
  top: 52px;
  position: fixed;
  background-color: #000000;
  border-radius: 4px;
  z-index: 2;
  animation: loaderInnerAnimation 0.7s infinite;
}
@keyframes loaderInnerAnimation {
  0% {transform: scale(0);}
  100% {transform: scale(4); display: none;}
}


#cursorLine {
  width: 2px;
  height: 100%;
  bottom: 65px;
  position: absolute;
  margin-left: -1px;
  background-color: #FFFFFF;
  z-index: 0;
  cursor: none;
}
#highlightYear {
  width: 21px;
  height: 65px;
  left: -10px;
  bottom: -65px;
  position: absolute;
  border-radius: 5px;
  background-color: #FFFFFF;
  opacity: 0.3;
}
#cursorBall {
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
  cursor: none;
}


#dotNameLabel {
  height: 20px;
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
  display: none;
  z-index: 2;
  opacity: 1;
}
#dotNameLabel::after {
  content: '';
  border: 8px solid transparent;
  border-right-color: #FFFFFF;
  border-left: 0;
  position: absolute;
  left: -8px;
  top: 50%;
  margin-top: -8px;
}

@keyframes dotNameLabelRollOut {
  from {transform: rotateY(45deg); -webkit-transform-origin: 0% -10%;}
  to {}
}

.dot {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 7.5px;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s;
  opacity: 0.3;
  -webkit-animation: dotStartAnimation 1s;
  cursor: none;
}
.dot:hover {
  opacity: 1;
}
.dot:active {
  transform: scale(2);
}

@keyframes dotStartAnimation {
  from {transform: scale(1.5); opacity: 1; filter: blur(9px);}
  to {}
}

.YearMark {
  font-size: 20px;
  bottom: 20px;
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
  -webkit-animation: startAnimationYearMark 0.1s;
}
@keyframes startAnimationYearMark {
  30% {-webkit-transform: scale(1.5) rotate(-90deg);}
  100% {-webkit-transform: scale(1) rotate(-90deg)}
}


.dotInformation {
  width: 50%;
  height: 90%;
  left: 50%;
  bottom: 0px;
  margin-left: -25%;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
  padding: 20px;
  position: fixed;
  display: none;
  z-index: 3;
}
@keyframes dotInformationStartAnimation {
  0% {display: block; width: 37.5%; height: 0px; left: 50%; bottom: 50%; margin-left: -18.75%; margin-bottom: 0px; opacity: 0.7;}
  40% {display: block; width: 50%; height: 200px; left: 50%; bottom: 50%; margin-left: -25%; margin-bottom: -100px;}
  100% {}
}

.dotInformationContent {
  width: 95%;

  left: 2.5%;
  top: 70px;
  position: absolute;
  border: none;
  background-color: #FFFFFF;
  overflow: none;
  animation: dotInformationContentStartAnimation 1s;
}
@keyframes dotInformationContentStartAnimation {
  0%  {opacity: 0;}
  65% {opacity: 0;}
}

.dotInformationCloseButton  {
  height: 30px;
  top: 16px;
  right: 10px;
  position: absolute;
  border: none;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  padding: 10px;
  -webkit-transition: 0.2s all;
}
.dotInformationCloseButton:hover {
  cursor: pointer;
}
.dotInformationCloseButton:active {
  transform: scale(0.9);
}
@keyframes dotInformationCloseAnimation {
  0% {}
  100% {transform: scale(0.7); opacity: 0;}
}



